@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './quads/eat.scss';
@import './quads/fight.scss';
@import './quads/play.scss';
@import './quads/sleep.scss';

html, body {
  font-style: bolder;
  font-size: 1.5em;
  background-color: indigo;
  text-align: center;
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
}
.column {
  height: 25%;
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .quad {
    flex-basis: 50%;
    height: 50%;
  }
}

.container {
  flex-direction: row;
  flex-wrap: wrap;
}

.quad {
  padding: 15px;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
