@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

html, body {
  font-family: 'Lato', sans-serif;
  font-style: bolder;
  font-size: 1.5em;
  background-color: indigo;
  text-align: center;
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
}
.column {
  height: 25%;
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .quad {
    flex-basis: 50%;
    height: 50%;
  }
}

.container {
  // display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
}

.quad {
  padding: 15px;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-eat { background: rgb(255, 166, 0); }
.bg-play { background: rgb(19, 219, 19); }
.bg-fight { background: rgb(172, 34, 34); }
.bg-sleep { background: rgb(86, 198, 243) }
